# Firebase
VITE_FIREBASE_PRODUCTS_COLLECTION=products
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# App
VITE_APP_NAME=Pasaj Clone
VITE_SHIPPING_THRESHOLD=200
VITE_SHIPPING_COST=29.90
